<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PubNubTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>89C7EBA91AB8D5D40082A8F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89C7EBC21AB8D5D40082A8F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89C7EC0D1AB9BA820082A8F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
